.Rproj.user
.Rhistory
.RData
.Ruserdata

images/selfie-coffee-v2.jpeg
images/hfsm-coffee-v2.jpeg
images/hfsm-uw-v2.jpeg
images/clustering-share-shrp2-v2.jpeg
images/Secret Santa 2023-v2.jpeg
bootstrap.min.css
images/densityv2.png
_site/bootstrap.min.css
_site/images/densityv2.png
images/yogav2.jpeg
videos/highschooler-blend.mp4
images/hfsm-csl.jpeg
images/ped-exp-estimates.png
images/Secret Santa 2023.jpg
images/minisim-stock.jpeg
images/yoga1.jpg
images/ped_crash_land_use_map.png
images/yoga.png
images/WB_subsetted_off_map.png
images/selfie-coffee.png
images/sips-nyc-for-report.png
images/mal-frameworkv4.png
images/strangeland-minisim-v2.png
_site/videos/highschooler-blend.mp4
_site/images/hfsm-csl.jpeg
_site/images/ped-exp-estimates.png
_site/images/Secret Santa 2023.jpg
_site/images/minisim-stock.jpeg
_site/images/yoga1.jpg
_site/images/ped_crash_land_use_map.png
_site/images/yoga.png
_site/images/WB_subsetted_off_map.png
_site/images/selfie-coffee.png
_site/images/strangeland-minisim-v2.png
_site/images/mal-frameworkv4.png
_site/images/sips-nyc-for-report.png
images/virtual-work-meetings.png
images/map-sips-w-legend.png
images/strangeland-minisim.png
videos/casting-precaptured-motion.mp4
videos/models-of-pedestrians_captured-motion.mp4
_site/images/virtual-work-meetings.png
_site/images/map-sips-w-legend.png
_site/images/strangeland-minisim.png
_site/videos/casting-precaptured-motion.mp4
_site/videos/models-of-pedestrians_captured-motion.mp4
images/gd-yilunXing.jpg
images/share-shrp2-mapping.png
images/ped-exp-env-buffers.png
images/gd-professional.jpg
images/hfsm-uw.jpg
_site/images/gd-yilunXing.jpg
_site/images/share-shrp2-mapping.png
_site/images/ped-exp-env-buffers.png
_site/images/gd-professional.jpg
_site/images/hfsm-uw.jpg

images/clustering-share-shrp2.jpg
images/selfie-coffee.heic
images/ndrt-dur-prop.png
images/CLUSTER-SHARE.png
images/cluster-share0.png
images/future-of-work-flyer.jpeg
images/quarter-cab-specs.png
images/viewport.png
images/violin.jpeg
images/selfie-window.jpeg
images/data-collection-drive.png
images/hotpot-network.png
images/boulder.jpeg
images/socio-fin-final.png
images/vtti.jpeg
images/density.png
images/hike-em.jpeg
images/linestrings-to-pts.png
images/corrplot_mixdata_multiclass_08.03.22.png
images/temporal-dynamics-domeyer.png

_site/images/clustering-share-shrp2.jpg
_site/images/selfie-coffee.heic
_site/images/ndrt-dur-prop.png
_site/images/CLUSTER-SHARE.png
_site/images/cluster-share0.png
_site/images/future-of-work-flyer.jpeg
_site/images/quarter-cab-specs.png
_site/images/viewport.png
_site/images/violin.jpeg
_site/images/selfie-window.jpeg
_site/images/data-collection-drive.png
_site/images/hotpot-network.png
_site/images/boulder.jpeg
_site/images/socio-fin-final.png
_site/images/vtti.jpeg
_site/images/density.png
_site/images/hike-em.jpeg
_site/images/linestrings-to-pts.png
_site/images/corrplot_mixdata_multiclass_08.03.22.png
_site/images/temporal-dynamics-domeyer.png

images/gd-in-sim.jpeg
scripts/resume-oct-2024.pdf
images/gl-osmnx-beforebouts.png
images/ollie-optitrack.jpeg
images/gl-osmnx-afterbouts.png
images/humanFUEL-logo.png
images/trophy.jpeg
images/cw_bn_lin_ex.png
images/corsggpair06EXP.jpg
images/timeline.png
images/negBinVpoissonV3.png
images/ts_speed_cw_facetBYsite.png
images/ts_speed_bt_facetBYsite.png
images/ACTIONwb_W23.png
images/trip-based_example.png
images/ml_model_performance.png
images/hexagons.png
images/walking-actvity.png
images/ndrt-dur.png
images/hfsm-coffee.jpg

_site/images/gd-in-sim.jpeg
_site/scripts/resume-oct-2024.pdf
_site/images/gl-osmnx-beforebouts.png
_site/images/ollie-optitrack.jpeg
_site/images/gl-osmnx-afterbouts.png
_site/images/humanFUEL-logo.png
_site/images/trophy.jpeg
_site/images/cw_bn_lin_ex.png
_site/images/corsggpair06EXP.jpg
_site/images/timeline.png
_site/images/negBinVpoissonV3.png
_site/images/ts_speed_cw_facetBYsite.png
_site/images/ts_speed_bt_facetBYsite.png
_site/images/ACTIONwb_W23.png
_site/images/trip-based_example.png
_site/images/ml_model_performance.png
_site/images/hexagons.png
_site/images/walking-actvity.png
_site/images/ndrt-dur.png
_site/images/hfsm-coffee.jpg
